@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-on-background antialiased;
  }

  ::selection {
    @apply bg-primary/20 text-on-surface;
  }
}

@layer components {
  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  }

  .material-symbols-outlined[data-weight='fill'] {
    font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  }

  .ad-placeholder {
    background: repeating-linear-gradient(
      45deg,
      #fafaf7,
      #fafaf7 10px,
      #f0fdf4 10px,
      #f0fdf4 20px
    );
  }

  .prose-money a {
    @apply text-primary underline decoration-primary/30 underline-offset-2 hover:decoration-primary;
  }
}
